@using DatabaseUtils.Models
<AntContainer />
<section style="height:calc(100vh - 20px);display:flex;flex-direction:column;">
    <header>
        <Flex Gap="@FlexGap.Small">
            <Select Style="width:150px;" AllowClear
                          Placeholder="选择数据库"
                          @bind-Value="@config.LastSelectedDb"
                          DataSource="supportedDb"
                          ItemLabel="@(k => k.Key)"
                          ItemValue="@(k => k.Key)"
                          DropdownMatchSelectWidth="@false">
            </Select>
            <Input @bind-Value="@config.Connectstring"></Input>
            <Button Type="@ButtonType.Primary" OnClick="@Connect">连接</Button>
            <Button Type="@ButtonType.Primary" OnClick="@Build">生成</Button>
            <Button OnClick="@(() => showSetting = true)">设置</Button>
            <Button OnClick="@SaveToLocal">保存为CS</Button>
        </Flex>
    </header>
    <section style="flex:1;overflow:hidden;display:flex;">
        <aside style="height:100%;width:fit-content;">
            <div style="height:30px;line-height:30px;">
                数据库列表
                <Checkbox OnChange="AllHandle">全选</Checkbox>
            </div>
            <div style="height:30px;line-height:30px;">
                <Input @bind-Value="@dbKey" AllowClear Placeholder="DatabaseKey"></Input>
            </div>
            <div style="height:30px;line-height:30px;">
                <Button Size="ButtonSize.Small" OnClick="@(() => showAttributeSetting = true)">配置属性Attribute</Button>
            </div>
            <Card Style="height:calc(100% - 90px);overflow-y:auto;width:fit-content;min-width:200px;">
                <ChildContent>
                    <AntList DataSource="@Tables">
                        <ChildContent>
                            <ListItem>
                                <Checkbox @bind-Checked="@context.IsSelected">
                                    @context.Table.TableName
                                </Checkbox>
                            </ListItem>
                        </ChildContent>
                    </AntList>
                </ChildContent>
            </Card>
        </aside>
        <section style="flex:1;height:100%;width:100%;overflow:auto;">
            <Collapse>
                @foreach (var table in GeneratedTables)
                {
                    <Panel Key="@table.Table.TableName">
                        <HeaderTemplate>
                            @table.Table.TableName
                            <Button OnClick="@(e => CopyToClipboard(table))">复制</Button>
                        </HeaderTemplate>
                        <ChildContent>
                            <pre>@table.GeneratedResult</pre>
                        </ChildContent>
                    </Panel>
                }
            </Collapse>
        </section>
    </section>
</section>
<Modal @bind-Visible="@showAttributeSetting" Width="550">
    <h2>
        <pre>属性自定义Attribute配置</pre>
        <pre>{0}占位符用于填充Comment属性</pre>
    </h2>
    @for (var i = 0; i < externalAttributes.Count; i++)
    {
        var index = i;
        <Input @bind-Value="@externalAttributes[index]" Placeholder="@("[自定义Attribute(Comment = \"{0}\")]")"></Input>
    }
    <div style="margin-top:10px;"></div>
    <Button OnClick="@(() => externalAttributes.Add(""))">添加</Button>
    <Button OnClick="@(() => externalAttributes.Clear())">清空</Button>
</Modal>
<Modal @bind-Visible="@showSetting" Width="450">
    <Form Model="@config" LabelColSpan="6">
        <FormItem Label="前缀">
            <Input @bind-Value="@context.Prefix"></Input>
        </FormItem>
        <FormItem Label="分隔符">
            <Input @bind-Value="@context.Separator"></Input>
        </FormItem>
        <FormItem Label="命名空间">
            <Input @bind-Value="@context.Namespace"></Input>
        </FormItem>
        <FormItem Label="保存路径">
            <div @onclick="e => SelectPath()">
                <Input @bind-Value="@context.SavedPath" ReadOnly></Input>
            </div>
        </FormItem>
    </Form>
</Modal>
