@using DatabaseUtils.Models
<AntContainer />
<section style="height:calc(100vh - 20px);display:flex;flex-direction:column;">
    <header>
        <Flex Gap="@FlexGap.Small">
            <SimpleSelect Style="width:150px;" AllowClear Placeholder="选择数据库" @bind-Value="@config.LastSelectedDb" DropdownMatchSelectWidth="@false">
                <SimpleSelectOption Value="Mysql" Label="MySql"></SimpleSelectOption>
                <SimpleSelectOption Value="Oracle" Label="Oracle"></SimpleSelectOption>
                <SimpleSelectOption Value="SqlServer" Label="SqlServer"></SimpleSelectOption>
            </SimpleSelect>
            <Input @bind-Value="@config.Connectstring"></Input>
            <Button Type="@ButtonType.Primary" OnClick="@Connect">连接</Button>
            <Button Type="@ButtonType.Primary" OnClick="@Build">生成</Button>
            <Button OnClick="@(() => showSetting = true)">设置</Button>
            <Button OnClick="@SaveToLocal">保存为CS</Button>
        </Flex>
    </header>
    <section style="flex:1;overflow:hidden;display:flex;">
        <aside style="height:100%;width:fit-content;">
            <div style="padding:10px;height:50px;line-height:30px;">
                数据库列表
                <Checkbox OnChange="AllHandle">全选</Checkbox>
            </div>
            <Card Style="height:calc(100% - 50px);overflow-y:auto;width:fit-content;min-width:200px;">
                <ChildContent>
                    <AntList DataSource="@Tables">
                        <ChildContent>
                            <ListItem>
                                <Checkbox @bind-Checked="@context.IsSelected">
                                    @context.TableName
                                </Checkbox>
                            </ListItem>
                        </ChildContent>
                    </AntList>
                </ChildContent>
            </Card>
        </aside>
        <section style="flex:1;height:100%;width:100%;overflow:auto;">
            <Collapse>
                @foreach (var table in GeneratedTables)
                {
                    <Panel Key="@table.TableName">
                        <HeaderTemplate>
                            @table.TableName
                            <Button OnClick="@(e => CopyToClipboard(table))">复制</Button>
                        </HeaderTemplate>
                        <ChildContent>
                            <pre>@table.GeneratedResult</pre>
                        </ChildContent>
                    </Panel>
                }
            </Collapse>
        </section>
    </section>
</section>

<Modal @bind-Visible="@showSetting" Width="450">
    <Form Model="@config" LabelColSpan="6">
        <FormItem Label="前缀">
            <Input @bind-Value="@context.Prefix"></Input>
        </FormItem>
        <FormItem Label="分隔符">
            <Input @bind-Value="@context.Separator"></Input>
        </FormItem>
        <FormItem Label="命名空间">
            <Input @bind-Value="@context.Namespace"></Input>
        </FormItem>
        <FormItem Label="保存路径">
            <div @onclick="e => SelectPath()">
                <Input @bind-Value="@context.SavedPath" ReadOnly></Input>
            </div>
        </FormItem>
    </Form>
</Modal>
